{% extends 'root.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->
            <form method="POST" action="">
                {% csrf_token %}
                
                {% comment %} {{ form|crispy}} {% endcomment %}
                {% comment %} <form> {% endcomment %}
                    <h2>Lecturer's Details</h2>
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="exampleInputid" class="form-label">Lecturer's ID</label>
                            <input type="text" class="form-control" name="id" id="id" aria-describedby="idHelp">
                        </div>
                        <div class="col-4">
                            <label for="exampleInputName" class="form-label">Lecturer's Name</label>
                            <input type="text" class="form-control" name="lecturername" id="exampleInputName">
                        </div>
                        <div class="col-4">
                            <label for="qualification" class="form-label">Qualification</label>
                            <select class="form-control" name="qualification" id="qualification">
                              <option value="">Select Qualification</option>
                              <option value="Bachelors">Degree</option>
                              <option value="Masters">Degree - Masters</option>
                              <option value="PhD">Degree - Masters - PhD</option>
                              </select>
                        </div>
                    </div>
                    <br><br>
                    <div class="row g-3 align-items-center">
                        
                        <div>
                            
                        </div> 
                    </div>
                {% comment %} </form> {% endcomment %}
                <br><br>
                <div class="row">
                  <div class="col-md-12">
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Course Units</th>
                                  <th scope="col">Feedback</th>
                                  <th scope="col">Experience</th>
                                  <th scope="col">Professional Certificate</th>
                                  <th scope="col">Publication</th>
                              </tr>
                          </thead>
                          <tbody id="course_units_body">
                            {% for course in courses %}
                                <tr>
                                    <td>{{ course.id }}</td>
                                    <td>{{ course.coursename }}</td>
                                    <td>{{ course.feedback }}</td>
                                    <td>{{ course.experience }}</td>
                                    <td>{{ course.professional_certificate }}</td>
                                    <td>{{ course.publication }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>                                     
                      </table>
                  </div>
              </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-lg btn-secondary" href="{% url 'lecturersemester' %}" role="button">Back</a>
                <a class="btn btn-lg btn-secondary" href="{% url 'lecturer' %}" role="button">Cancel</a>
            </div>
           </form>
        </div>
    </div>
</div>
{% endblock content %}
