{% extends 'root.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->

            <form method="POST" action="{% url 'lectview' %}">
                {% csrf_token %}
                
                {% comment %} {{ form|crispy}} {% endcomment %}
                <div class="row">
                  <div class="col-10">
                    <h2>View Lecturer's Details</h2>
                  </div>
                  <div class="col-2">
                    <a class="btn btn-lg btn-primary" href="{% url 'lectview' %}" role="button">Add Lecturer</a>
                  </div>
              </div>
                <div class="display_table">
                    <table class='table table-bordered'>
                            <tr>
                              <th>Lecturer's ID</th>
                              <th>Lecturer's Name</th>
                              <th>Qualification</th>
                              {% comment %} <th>Publication</th> {% endcomment %}
                              <th>Semester</th>
                              <th>Actions</th>
                            </tr>
                            {% for lecturer in lecturers %}
                            <tr>
                            <td>{{ lecturer.id }}</td>
                            <td>{{ lecturer.lecturername }}</td>
                            <td>{{ lecturer.qualification }}</td>
                            {% comment %} <td>{{ lecturer.publication }}</td> {% endcomment %}
                            <td>{{ lecturer.semester }}</td>
                            <td>
                                <!-- Add your action buttons here -->
                                {% comment %} <a href="{% url 'delete_course' course.id %}" class="btn btn-danger">Delete</a> {% endcomment %}
                                <a href="" class="btn btn-primary">View</a>
                                <a href="" class="btn btn-warning">Update</a>
                                <a href="" class="btn btn-danger">Delete</a>
                            </td>
                           </tr>
                      {% endfor %}
                    </table>
            </form>
                
                  </table>
                
            </form>
        </div>
    </div>
</div>
{% endblock content %}