{% extends 'root.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->

            <form method="POST" action="{% url 'lecturer' %}">
                {% csrf_token %}
                
                {% comment %} {{ form|crispy}} {% endcomment %}
                <form>
                    <h2>Lecturer's Details</h2>
                    <div class="row g-3 align-items-center">
                        <div class="col-4">
                            <label for="exampleInputid" class="form-label">Lecturer's ID</label>
                            <input type="text" class="form-control" name="id" id="id" aria-describedby="idHelp">
                        </div>
                        <div class="col-4">
                            <label for="exampleInputName" class="form-label">Lecturer's Name</label>
                            <input type="text" class="form-control" name="lecturername" id="exampleInputName">
                        </div>
                        <div class="col-4">
                            <label for="qualification" class="form-label">Qualification</label>
                            <select class="form-control" name="qualification" id="qualification">
                              <option value="">Select Qualification</option>
                              <option value="Bachelors">Degree</option>
                              <option value="Masters">Degree - Masters</option>
                              <option value="PhD">Degree - Masters - PhD</option>
                              </select>
                        </div>
                    </div>
                    <br><br>
                    <div class="row g-3 align-items-center">

                        {% comment %} <div class="col-6">
                            <label for="publication" class="form-label">Publication</label>
                            <select class="form-control" name="publication" id="publication">
                              <option value="">Select Publication</option>
                              <option value="None">None </option>
                              <option value="p1">1 to 2 Papers</option>
                              <option value="p3">3 to 4 Papers</option>
                              <option value="p3">5 to 6 Papers</option>
                              <option value="p3">7 to 8 Papers</option>
                              <option value="p3">9 and above</option>
                              </select>
                        </div> {% endcomment %}
                        
                          <div class="col-4">
                              <label for="semester" class="form-label">Semester</label>
                              <select class="form-control" name="semester" id="semester">
                                  <option value="">Select Semester</option>
                                  <option value="F">First Semester</option>
                                  <option value="S">Second Semester</option>
                              </select>
                          </div>
                        
                        
                    </div>

                </form>
                <br><br>
                <div class="row">
                  <div class="col-md-12">
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Course Units</th>
                                  <th scope="col">Feedback</th>
                                  <th scope="col">Experience</th>
                                  <th scope="col">Professional Certificate</th>
                                  <th scope="col">Publication</th>
                              </tr>
                          </thead>
                          <tbody id="course_units_body">
                              <!-- Table rows will be dynamically added here -->
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
           <a class="btn btn-lg btn-primary" href="{% url 'lecturer' %}" role="button">Close</a>

          </div>
          
          <!-- JavaScript to dynamically update the table -->
          <script>
              document.getElementById("semester").addEventListener("change", function() {
                  var selectedSemester = this.value;
                  var tableBody = document.getElementById("course_units_body");
                  tableBody.innerHTML = ""; // Clear existing rows
                  
                  {% for course in courses %}
                      {% if course.semester == "F" %}
                          var semester = "First Semester";
                      {% elif course.semester == "S" %}
                          var semester = "Second Semester";
                      {% endif %}
                      if (semester === selectedSemester) {
                          var newRow = "<tr>";
                          newRow += "<td>{{ forloop.counter }}</td>";
                          newRow += "<td>{{ course.coursename }}</td>";
                          newRow += "<td><input type='text' name='feedback[]'></td>";
                          newRow += "<td><select name='experience[]'><option value='2'>2</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option></select></td>";
                          newRow += "<td><input type='text' name='certificate[]'></td>";
                          newRow += "<td><select name='publication[]'><option value='2'>2</option><option value='4'>4</option><option value='5'>5</option><option value='10'>10</option></select></td>";
                          newRow += "</tr>";
                          tableBody.innerHTML += newRow;
                      }
                  {% endfor %}
              });
          </script>
            </form>
        </div>
    </div>
</div>
{% endblock content %}