{% extends 'root.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="modal-body" id="approvalModalBody">
        <form id="approvalForm" method="POST" action="{% url 'lectview' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="modal-footer">
                <a class="btn btn-lg btn-secondary" href="{% url 'lecturer' %}" role="button">Cancel</a>
                <button type="submit" class="btn btn-primary">Continue</button>
            </div>
        </form>         
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
    </div>
    
</div>
{% endblock content %}