{% extends 'root.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="modal-body" id="approvalModalBody">
        <form id="approvalForm" method="POST" action="{% url 'lecturersemester' %}">
            {% csrf_token %}
            {% comment %} {{ form|crispy }} {% endcomment %}
            <div class="row">
                <div class="col-1">
                    <label for="semester" class="form-label">Semester</label>
                </div>
                <div class="col-4">
                    <select class="form-control" required name="semester" id="semester">
                    <option value="">Select Semester</option>
                    <option value="First Semester">First Semester</option>
                    <option value="Second Semester">Second Semester</option>
                    </select>
                </div>
            </div> 
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Continue</button>
                <a class="btn btn-lg btn-secondary" href="{% url 'lecturer' %}" role="button">Cancel</a>
            </div>
        </form>         
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
    </div>
    
</div>
{% endblock content %}